:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}

.page {
  background: #ffffff;
  font-family: Roboto, sans-serif;
  color: var(--primery-text-color);
}

/* Утилиты*/
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link-style {
  text-decoration: none;
}
.address-style {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Контейтер геометрии макета */
.contanier {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}
/* Навигация сайта Студия-Потфолио */

.page-header {
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 80px;
}

.site-nav {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;

  color: var(--primery-text-color);
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/*Лого */
.logo {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;

  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo:focus {
  color: var(--primery-text-color);
}

.logo-color {
  color: var(--accent-color);
}
.logo-color-footer {
  color: var(--white-color);
}

/* контакты */
.contact {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}
.contact .item + .item {
  margin-left: 50px;
}

.contact-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact .contact-link:hover,
.contact .contact-link:focus {
  color: var(--accent-color);
}

/* Герой */
.hero {
  margin-top: 50px;
  min-height: 600px;
  background: #2f303a;
  text-align: center;
}
.hero .title {
  padding-top: 195px;
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;

  background: var(--accent-color);
  color: var(--white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  align-items: center;
}
.hero .hero-button:hover,
.hero .hero-button:focus {
  background: #188ce8;
}
/* Особености */

.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.features-text {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Наши работы */

.work-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Наша Команда */
.team {
  background: #f5f4fa;
}
.team .title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-title {
  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-text {
  color: var(--title-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/* Подвал Студио-портфолио*/
.footer {
  background: #2f303a;
}

.footer .adress {
  color: var(--white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer .link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Макет Портолио */

/* Филтр-Кнопки */
.portfolio .filtr .filtr-button {
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.portfolio .filtr .filtr-button:hover,
.portfolio .filtr .filtr-button:focus {
  background: var(--accent-color);
  color: var(--white-color);
}

/* Наши Проекты */
.portfolio .title {
  visibility: hidden;
}

.portfolio-list .portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list .portfolio-text {
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
